<div class="row">
    <div class="col-xs-12 text-center">
      <app-game-control (intervalData)="separateObj($event)" ></app-game-control>
    </div>
  </div>
  
  <hr>
  
  <div class="row">

    <div class="col-xs-12 center">
        <div 
          class="row">
            <div class="col-xs-6">
              
                <app-even 
                *ngFor="let number of evenArr; let i = index"
                [value] = "number"
                ><ng-content></ng-content></app-even>
            </div>
            <div class="col-xs-6">
                
                <app-odd 
                *ngFor="let number of oddArr; let i = index"
                [value] = "number"
                ></app-odd>

            </div>
          </div>
  </div>
  </div>
